body {
    font-family: 'Courier New';
    font-size: 16pt;
}

div {
    color: red;
    font-family: 'Comic Sans MS';
    font-size: 25pt;
}

.superblock {
    color: blue;
    font-family: 'Comic Sans MS';
    font-size: 16pt;
    background-color: yellow;
    border-color: orange;
}